body{
	margin-left:auto;
	margin-right:auto;
	width:400px;
	background-image: url('../gambar/4banner.jpg');
	background-size:cover;
}
#page{
	border:0px solid;
	height:auto;
	background:rgba(0,0,0,0.5);
	margin-top:80px;
	border: 3px solid white;
}
#page li{
	margin-top:0px;
	list-style:none;
	padding:18px;
	background:rgba(255,0,0,0.7);
	font-family:Cataneo BT;
	font-weight:bold;
	font-size:18px;
	color:#FFF;
}
table{
	margin-top:40px;
	font-family:Times New Roman;
	font-size:17px;
	font-weight:bold;
}
input{
	border:1px solid #F90047;
	font-weight:bold;
	background:rgba(255,255,255,0.05);
	color:white;
}
	table tr td{
	color:white;
	font-weight:bold;
}